@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap&subset=latin-ext');

:root {
    --FirstCardColor: hsl(0, 78%, 62%);
    /*red color*/
    --SecondCardColor: hsl(180, 62%, 55%);
    /*Cyan color*/
    --ThirdCardColor: hsl(34, 97%, 64%);
    /*Orange Color*/
    --FourthCardColor: hsl(212, 86%, 64%);
    /*Blue Color*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 100vh;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 4.2rem;
    font-weight: 200;
}

h1>span {
    display: block;
    font-weight: 600;
}

p {
    font-size: 1.5rem;
    color: hsl(229, 6%, 66%);
}

.title-description {
    width: 33%;
    text-align: center;
}


.wrapper {
    /* background-color: #0ff; */
    width: 90%;
    margin: 0 auto;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    /* background-color: #0f0; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.center-cards {
    /* grid-area: 1/3; */
    grid-row: 1/4;
}

.supervisor {
    grid-area: 2/1;
    justify-self: end;
    border-top: 3px solid var(--SecondCardColor);
}

.calculator {
    grid-area: 2/3;
    border-top: 3px solid var(--FourthCardColor);
}

.builder {
    border-top: 3px solid var(--FirstCardColor);
}

.karma {
    border-top: 3px solid var(--ThirdCardColor);
}

.center-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: #ffffff;
    border-radius: 5px;
    width: 35rem;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 3rem; */
    padding: 3rem;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.card h2 {
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
    color: hsl(234, 12%, 34%);
}

.card p {
    line-height: 1.5;
    font-weight: 200;
}

.card img {
    align-self: flex-end;
}

@media (max-width:1530px) {
    .card {
        margin: 5%;
    }
}

@media (max-width:1260px) {
    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .title-description {
        width: 70%;
    }
}

@media (max-width:1170px) {
    p {}

    .cards {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card {
        max-width: 50rem;
    }

    .supervisor {
        grid-area: 1/1;
        justify-self: center;
    }

    .calculator {
        grid-area: 2/1;
        justify-self: center;
    }

    .center-cards {
        /* grid-area: 2/2; */
        grid-row: 1/3;
    }

    .builder {
        grid-area: 1/2;
    }

    .karma {
        grid-area: 3/1;
    }
}

@media (max-width:830px) {
    .cards {
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card {
        width: 90%;
    }

    .supervisor {
        grid-area: 1/1;
        justify-self: center;
    }

    .calculator {
        grid-area: 2/1;
        justify-self: center;
    }

    .center-cards {
        grid-area: 3/1;
        grid-row: 3/5;
    }


}

@media (max-width:520px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 2.4rem;
    }

    .title-description {
        font-size: 1.4rem;
        width: 100%;
        padding: 0 1rem;
    }
}